---
import { Image } from 'astro:assets';

const buttons = [
  {
    label: 'descargar app',
    icon: 'playStore',
    color: 'bg-green-400',
    href: 'https://play.google.com/store/apps/details?id=com.ayudaconcho.app',
  },
  {
    label: 'descargar app',
    icon: 'appStore',
    color: 'bg-blue-400',
    href: 'https://apps.apple.com/gb/app/ayuda-concho/id6504540040',
  },
];
---

<section>
  {
    buttons.map((button) => (
      <a href={button.href} class={`button ${button.color}`}>
        <Image
          src={`/svg/${button.icon}.svg`}
          alt={button.icon}
          class='icon'
          width={100}
          height={100}
        />

        {button.label}
      </a>
    ))
  }
</section>

<style>
  section {
    @apply flex justify-end items-center space-x-3 mt-5 md:flex-col md:space-x-0 md:space-y-3;
  }

  a {
    @apply rounded-md text-white flex justify-center items-center px-4 py-3 font-bold capitalize text-xl  hover:bg-opacity-80 md:w-full md:text-2xl;
  }

  .icon {
    @apply w-8 h-8 mr-2;
  }
</style>
